{% extends "site_base.html" %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-lg-2 col-lg-offset-1">
					    <h2>{{ title }}</h2>
    </div><!-- /col-lg-2 col-lg-offset-1 -->
	<div class="col-lg-6">
	<h2>server error</h2>
<em>500 error</em>
    </div> <!-- /col-lg-6 -->
    <div class="col-lg-3">
        <h2>What can I do?</h2>
        <p>:-)</p>
    </div> <!-- /col-lg-3 -->
</div> <!-- /row -->
</div> <!-- /container -->
{% endblock content %}

{% block extra_js %}{% endblock %}
