{% extends "site_base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4"><a href="{% url 'formDemoIndex' %}">back to Form demo index</a> </div>
    <div class="col-md-4 form-group  well">
        <form action="{% url 'tmplTagsForm' %}" method="POST" >{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    <h3>{{ msg }}</h3>
    <div class="col-md-4"></div>
</div>
{% endblock content %}
