{% load staticfiles %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<section id="contact" name="contact"></section>
	<!-- footer DESCRIPTION -->
	{# <div id="footwrap"><div class="container"></div><!--/.container --></div><!-- /footer --> #}
	
    <div id="c">
        <div class="container">
            <p> made by 
                <a href="http://www.razafy.com">&nbsp;{# &#9895; #}
                <span style="color:#f44fb4;font-weight:bold">l</span>
                <span style="color:#f44fb4;">e</span>
                <span style="color:#8a5ba0;font-weight:bold">r</span>
                <span style="color:#8a5ba0;">i</span>
                <span style="color:#5b7beb;font-weight:bold">n</span>
                <span style="color:#5b7beb">a</span>
                </a>
                <sup>^_^</sup>
            </p>
        </div>
	</div><!--/c -->
